/*박스크기 수정*/
.biv {
    box-sizing: border-box;
}

/*여백제거*/
body {
    margin: 0px;
}
.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.off {
    text-align: center;
    font-size: 16px
}
.box {
    width: 200px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: white;
    box-shadow: 10px 10px black;
}
.container {
    width: 890px;
    height: 750px;
    display:table-cell;
    vertical-align:middle;
    margin: auto;
    background-image: url(ujiEdne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.name-background {
    width: 100%;
    height: 500px;
}
.header {
    width: 55%;
    height: 7%;
    background: rgb(201, 255, 237);
    text-align: center;
    margin: auto;
}

.btnWrap {
    width: 55%;
    height: 35%;
    background: rgb(163, 192, 245);
    margin: auto;
}

.list-box {
    width: 55%;
    height: 25%;
    background: #eee;
    text-align:center;
    margin: auto;
}
.list1 {
    width: 100%;
    height: 70%;
    font-size: 22px;
    text-align: center;
}

.sub {
    width: 55%;
    height: 20%;
    background: rgb(184, 183, 183);
    font-size: 22px;
    margin: auto;
}

.text-size {
    width: 110px;
    height: 60px;
    font-size: 22px;
    margin: 10px;
    
}

.font-size {
    font-size: 22px;
    margin: 0px; 
}

.main-button {
    width: 80px;
    padding: 6px;
    font-size: 22px;
    background: white;
    border: none;
    border-radius: 5px;
    left: 0px;
    right: 0px;
    margin: 10px;
    margin-left: 60px;
    z-index: 4;
}

@media screen and (max-width: 1200px) {  
    .container {
        width: 700px;
        height: 600px;
    }
    
    .text-size {
        width: 88px;
        height: 45px;
        font-size: 18px;
        margin: 5px;
    }
    
    .font-size {
        font-size: 18px;
    }
    
    .main-button {
        width: 70px;
        padding: 6px;
        font-size: 18px;
        background: white;
        border: none;
        border-radius: 5px;
        left: 0px;
        right: 0px;
        margin: 10px;
        margin-left: 60px;
        z-index: 4;
    }
    
    .list1 {
        
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    
.container {
    width: 600px;
    height: 500px;
}

.text-size {
    width: 77px;
    height: 35px;
    font-size: 15px;
    margin: 5px;
}

.font-size {
    font-size: 15px;
}

.main-button {
    width: 60px;
    padding: 6px;
    font-size: 15px;
    background: white;
    border: none;
    border-radius: 5px;
    left: 0px;
    right: 0px;
    margin: 10px;
    margin-left: 60px;
    z-index: 4;
}

.list1 {
    
    font-size: 18px;
    text-align: center;
}

}
@media screen and (max-width: 576px) {
    .container {
        width: 450px;
        height: 250px;
    }
    
    .text-size {
        width:30px;
        height: 15px;
        font-size: 10px;
        margin: 5px;
    }
    
    .font-size {
        font-size: 10px;
    }
    
    .main-button {
        width: 40px;
        padding: 6px;
        font-size: 10px;
        background: white;
        border: none;
        border-radius: 5px;
        left: 0px;
        right: 0px;
        margin: 10px;
        margin-left: 40px;
        z-index: 4;
    }
    
    .list1 {
        
        font-size: 15px;
        text-align: center;
    }
}
