/*박스크기 수정*/
.biv {
    box-sizing: border-box;
}

/*여백제거*/
body {
    margin: 0px;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.off {
    text-align: center;
    font-size: 16px
}

.box {
    width: 200px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: white;
    box-shadow: 10px 10px black;
}

.container {
    width: 700px;
    height: 750px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    background-image: url(ujiEdne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.name-background {
    width: 100%;
    height: 500px;
}

.header {
    width: 55%;
    height: 7%;
    padding: 1px;
    background: rgb(201, 255, 237);
    text-align: center;
    margin: auto;
}

.btnWrap {
    width: 55%;
    height: 45%;
    padding: 1px;
    background: rgb(163, 192, 245);
    margin: auto;
}

.list-box {
    overflow: scroll;
    width: 55%;
    height: 25%;
    background: #eee;
    margin: auto;
    padding: 1px;
}

.list {
    width: 90%;
    height: 20%;
    font-size: 22px;
    background: white;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.sub {
    width: 55%;
    height: 20%;
    padding: 1px;
    background: rgb(184, 183, 183);
    font-size: 22px;
    margin: auto;
}

.font-size {
    display: flex;
    font-size: 22px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
}

.text-size {
    font-size: 22px;
    flex: 1;
}

.main-button {
    width: 80px;
    padding: 6px;
    font-size: 22px;
    background: white;
    border: none;
    border-radius: 5px;
    left: 0px;
    right: 0px;
    margin: 10px;
    z-index: 4;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 650px;
        height: 700px;
    }

    .font-size {
        font-size: 16px;
        margin-top: 10px;
    }

    .text-size {
        font-size: 18px;
    }

    .main-button {
        width: 70px;
        padding: 6px;
        font-size: 18px;
    }

    .list {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 600px;
        height: 600px;
    }

    .font-size {
        font-size: 15px;
        margin-top: 10px;
    }

    .text-size {
        font-size: 15px;
    }

    .main-button {
        width: 60px;
        padding: 6px;
        font-size: 15px;
    }

    .list {
        font-size: 15px;
    }

}

@media screen and (max-width: 576px) {
    .container {
        width: 450px;
        height: 650px;
    }

    .font-size {
        font-size: 13px;
        margin: 5px;
    }

    .text-size {
        font-size: 13px;
    }

    .main-button {
        width: 50px;
        padding: 6px;
        font-size: 13px;
    }

    .list {
        font-size: 13px;
    }
}